version: '3.9'

services:
  backend:
    build:
      context: ./backend
    container_name: task-backend
    ports:
      - "3000:3000"
    environment:
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SERVICE: ${SMTP_SERVICE}
      SMTP_MAIL: ${SMTP_MAIL}
      SMTP_APP_PASS: ${SMTP_APP_PASS}
    depends_on:
      - mongo

  frontend:
    build:
      context: .
    container_name: task-frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend

  mongo:
    image: mongo:latest
    container_name: task-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
